{% extends 'produits_container.html' %}

{% block content %}
    <div id="commandes" class="d-none">
        <h2>Votre panier</h2>
        {% verbatim %}
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
                <tr v-for="commande_produit in commande.commande_produits" v-if="commande_produit.quantite > 0" :key="commande_produit.id">
                    <td>
                        {{ commande_produit.produit.nom }}
                        <span v-for="produit_attribut in commande_produit.produit.produit_attributs" :key="produit_attribut.id">
                            <span v-if="produit_attribut.valeur_selectionee === produit_attribut_valeur.id" v-for="produit_attribut_valeur in produit_attribut.produit_attribut_valeurs" :key="produit_attribut_valeur.id">
                                <br/>{{ produit_attribut_valeur.nom }}
                            </span>
                        </span>
                    </td>
                    <td>{{ commande_produit.prix_unitaire }} €</td>
                    <td>
                        <button v-on:click="enlever(commande_produit)">-</button>
                        <input type="number" min="0" v-model="commande_produit.quantite">
                        <button v-on:click="ajouter(commande_produit)">+</button>
                    </td>
                    <td>{{ commande_produit.prix_total }} €</td>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th>{{ commande.prix_total }} €</th>
                </tr>
            </table>
        {% endverbatim %}
        <p class="text-right">
            <a class="btn btn-primary" href="/produits/commande/finaliser">Finaliser ma commande</a>
        </p>
    </div>
{% endblock %}
