{% extends 'base_container.html' %}

{% block content %}
<div id="magasin">
<h1>Sandwich</h1>
<ul>
    <li><Strong>Daigo:</Strong> Jambon, Fromage, Mayonnaise, Crudites.</li>
    <li><Strong>Jambon Fromage:</Strong> Jambon, Fromage, Crudites, sauce(au choix).</li>
    <li><Strong>Americain:</Strong> Americain, Crudites.</li>
    <li><Strong>Thon:</Strong> Thon, Peche, Crudites.</li>
    <li><Strong>Thon Piquant:</Strong> Thon Piquant, Crudites.</li>
    <li><Strong>Pitta:</Strong> Pitta(salade), Crudites.</li>
    <li><Strong>Pitta Piquant:</Strong> Pitta Piquant (salade), Crudites.</li>
    <li><Strong>Rosette:</Strong> Rosette, Crudites, sauce(au choix).</li>
</ul>
<h1>Sandwich de la semaine</h1>
<ul>
    <li><Strong>Le Keke Bagna:</Strong></li>
    <li><Strong>Le Iron Man: </Strong></li>
    <li><Strong>Le Toys Storie: </Strong></li>
</ul>
</div>
{% endblock %}
