body{
    background: url("https://s1.1zoom.me/b5050/867/422283-Kycb_1920x1080.jpg") no-repeat center fixed;
}
#accueil{
    background-color: antiquewhite;
    position: absolute ;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    border: black double 2px;

}

ul#lien_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.lien_menu {
    float: left;
    border-right: 1px solid #bbb
}

.lien_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lien_menu a:hover:not(.active) {
    background-color: #4CAF50;
}

#main{
    height: 80%;
    width: 95%;
    margin: 2.5%;
    border: black solid 1px;
    background-color: white;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lien_footer {
    float: left;

}

#horaire{
    float: right;
    margin-right: 0.5%;
}



