<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Boulangerie</title>
        <script src="{% static 'lib/vue.js' %}"></script>
        <script src="{% static 'src/js/boulangerie.js' %}"></script>
        <!---<link type="text/css" href="{% static 'Base.css' %}" /> --->
    </head>
    <body>
        <div id="accueil">
            <header>
                <div id="menu">
                    <ul id="lien_menu">
                        <li  class="lien_menu">
                            <a href="/">accueil</a>
                        </li>
                        <li class="lien_menu">
                            <a href="/produits">nos produits</a>
                        </li>
                        <li class="lien_menu">
                            <a href="/contact">contact</a>
                        </li>
                        <li class="lien_menu">
                            <a href="/commande">passer commande</a>
                        </li>
                    </ul>
                </div>
            </header>
            <main id="main">
                {% block content %}
                {% endblock %}
            </main>
            <footer>
                <div id="footer">
                    <ul>
                        <li class="lien_footer">
                            <div class="infos">
                                <span>Rue du tileul 6, 1300 Wavre</span><br>
                                <span>Téléphone: 010/22.23.92</span>
                            </div>

                        </li>
                        <li class="lien_footer" id="horaire">
                            <div>
                                <span class="horaire">Mardi au Samedi de 07h à 18h</span><br></span>
                                <span class="horaire">Dimanche de 06h30 à 12h30</span><br>
                                <span class="horaire">Lundi fermé</span>
                            </div>
                        </li>
                    </ul>





                </div>
            </footer>
        </div>
    </body>
</html>