{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Boulangerie</title>
        <script src="{% static 'lib/vue.js' %}"></script>
        <script src="{% static 'src/js/boulangerie.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="menu">
                <ul>
                    <li  class="lien_menu">
                        <a href="/accueil">accueil</a>
                    </li>
                    <li class="lien_menu">
                        <a href="/produits">nos produits</a>
                    </li>
                    <li class="lien_menu">
                        <a href="/contact">contact</a>
                    </li>
                    <li class="lien_menu">
                        <a href="/commande">passer commande</a>
                    </li>
                </ul>
            </div>
        </header>
        <main id="accueil">
            <h1>Ceci est notre page de contact</h1>
        </main>
        <footer>
            <div class=footer>
                <span class="adresse">Rue du tileul 6, 1300 Wavre</span>
                <span class="telephone">010/22.23.92</span>
                <span class="horaire">mardi au samedi de 07h à 18h<br>
                    dimanche de 06h30 à 12h30<br>
                    lundi fermé</span>
            </div>
        </footer>
    </body>
</html>
